body {
}
.left {
    width: 100%;
    height: 100%;
}

.content {
    width: 100%;
    height: 100%;
    font-family: 'HoloLens MDL2 Assets';
    font-size: 37px;
}
.beautyList {
    text-align: center;
}

.beautyList li {
    font-size: 50px;
    margin-top: 300px;
    list-style-type:none;
}
.beautyTable td {
    width: 33%;
    height: 350px;
}

.beautyTable td img {
    width: 100%;
    height: 100%;
}